@page
@model Real_Estate_WebApp.Pages.Admin.DeletePropertyModel

@{
    ViewData["Title"] = "Delete Property";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/uploaded_images/@Model.Property.image" height="300px" width="300px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.PropertyType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.PropertyType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Number_of_Bedrooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Number_of_Bedrooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Number_of_Baths)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Number_of_Baths)
        </dd>
       
        
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Property.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./ShowProperties">Back to List</a>
    </form>
</div>
