@page
@model Real_Estate_WebApp.Pages.Admin.ShowMessagesModel

@{
    ViewData["Title"] = "ShowMessages";
}

<h1>ShowMessages</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contact) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
               
              <a class="btn btn-danger" asp-page="./DeleteMessage" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
